@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');
body {
    font-family: "Roboto", sans-serif;
    background-color: white;
    font-size: 14px;
    /* #7ba566 */
}

a {
    text-decoration: none;
}

ul {
    padding: 0px;
    margin: 0px;
    list-style-type: none;
}


/* slider and side section*/

.mainBox {
    background-color: #011c38;
}


/* for div1 slider and latest-news*/

.flex-container-main {
    display: flex;
    flex-wrap: wrap;
    margin: 0 40px;
    align-content: space-between;
}


/*  */

.flex-container {
    display: flex;
    flex-wrap: wrap;
    margin: 20px 0;
    /* margin: 0 40px; */
    align-content: space-between;
}


/* DIV 1 */

.div1 {
    flex-grow: 1;
    /* flex-basis: 600px;*/
    width: 130px;
    flex-shrink: 0px;
    margin: 20px;
    height: 300px;
}

.div1 .title {
    font-size: 16px;
    font-weight: bold;
    color: white;
    text-align: center;
}

.div1 ul li {
    padding: 10px;
    border-bottom: 1px dotted white;
}

.div1 ul li a {
    color: white;
    text-decoration: none;
}

.div1 ul li a:hover {
    color: white;
}


/* slider start */

.slider {
    flex-grow: 2;
    /* flex-basis: 600px;*/
    width: 400px;
    flex-shrink: 0px;
    margin: 20px;
}

.slider img {
    width: 100%;
    height: 300px;
}

.w3-content {
    margin-left: auto;
    margin-right: auto;
    max-width: 980px;
}

.w3-display-container {
    position: relative;
}

.w3-display-container:hover {
    display: block;
}

.w3-large {
    font-size: 15px !important;
}

.w3-display-bottomleft {
    position: absolute;
    left: 0;
    bottom: 0;
}

.w3-container,
.w3-panel {
    padding: 0.01em 16px;
}

.w3-container:after,
.w3-container:before {
    content: "";
    display: table;
    clear: both;
}

.w3-black {
    color: #fff !important;
    background-color: rgba(0, 0, 0, 0.5) !important;
}

.w3-button {
    border: none;
    display: inline-block;
    padding: 8px 16px;
    vertical-align: middle;
    overflow: hidden;
    text-decoration: none;
    color: inherit;
    background-color: inherit;
    text-align: center;
    cursor: pointer;
    white-space: nowrap;
}

.w3-display-left {
    position: absolute;
    top: 50%;
    left: 0%;
    transform: translate(0%, -50%);
    -ms-transform: translate(0%, -50%);
}

.w3-display-right {
    position: absolute;
    top: 50%;
    right: 0%;
    transform: translate(0%, -50%);
    -ms-transform: translate(0%, -50%);
}


/* end of slider */

.latest-news {
    flex-grow: 1;
    /* flex-basis: 400px;*/
    width: 200px;
    flex-shrink: 0px;
    margin: 20px;
    height: 300px;
    overflow: hidden;
}

.latest-news .title {
    font-size: 16px;
    font-weight: bold;
    color: white;
    text-align: center;
}

.latest-news ul li {
    padding: 10px;
    border-bottom: 1px dotted white;
}

.latest-news ul li a {
    color: white;
    text-decoration: none;
}

.latest-news ul li a:hover {
    color: white;
}

.bigBox {
    flex-grow: 1;
    flex-basis: 600px;
    max-height: 400px;
    /* overflow: auto; */
    color: black;
    flex-shrink: 0px;
    border: 1px solid #03224435;
    border-radius: 5px;
    margin: 20px;
    background-color: white;
}

@media(max-width: 1200px) {
    .bigBox {
        flex-grow: 1;
        flex-basis: 500px;
        max-height: 550px;
        color: black;
        flex-shrink: 0px;
        border: 1px solid #03224435;
        border-radius: 5px;
        margin: 10px;
        background-color: white;
    }
}

.bigBox ul {
    padding-left: 10px;
    padding-right: 10px;
}

.bigBox li {
    padding: 10px;
    border-top: 1px dotted lightgrey;
}

.bigBox li:nth-child(1) {
    border-top: 0px;
}

.bigBox a {
    display: block;
    color: #01366a;
    text-decoration: none;
}

.bigBox a:hover {
    color: #011c38;
}

.Events,
.Notices,
.Achievements {
    display: none;
}

.hideme {
    display: none;
}

.active {
    display: block;
}

.bigBoxUl {
    margin: 0 10px;
    /* display: flex; */
    list-style-type: none;
    /* text-align: left; */
}

.bigBoxUl li {
    display: inline-block;
    /* flex-grow: 1; */
    padding: 0 10px;
    margin: 0 10px;
    cursor: pointer;
    border-top: 0px;
    /* width: 50px; */
}

.bigBoxUl li:hover {
    font-weight: bold;
}

.myturn {
    color: white;
    font-weight: bold;
    /* border-radius: 10px; */
    opacity: 1;
    background-color: #011c38;
    transition: 1s;
}

@media (max-width: 767px) {
    /* .hidemeonsmall {
        display: none;
    }
    .bigBoxUl li {
        display: none;
    }
    .showonsmall {
        display: inline-block;
    }
    .hideme {
        display: block;
    }
    .Events,
    .Notices,
    .Achievements {
        display: block;
    } */
    .bigBox {
        /* overflow: auto; */
    }
    .bigBoxUl {
        margin: 0px;
    }
    .bigBoxUl li {
        margin: 0;
        padding: 5px;
    }
}

.box-1 {
    flex-grow: 1;
    flex-basis: 300px;
    max-height: 400px;
    color: black;
    flex-shrink: 0px;
    border: 1px solid #03224435;
    border-radius: 5px;
    margin: 20px;
    background-color: white;
}

@media(max-width: 1200px) {
    .box-1 {
        flex-grow: 1;
        flex-basis: 250px;
        max-height: 500px;
        color: black;
        flex-shrink: 0px;
        border: 1px solid #03224435;
        border-radius: 5px;
        margin: 10px;
        background-color: white;
    }
}

.title {
    font-size: 18px;
    margin-bottom: 10px;
    padding: 3px 10px;
    color: #011c38;
    /*color: white;*/
    background-color: #8e99a535;
    text-align: center;
}

.vcPhoto img {
    margin-top: 20px;
    margin-right: 5px;
    margin-bottom: 5px;
    margin-left: 10px;
    width: 100px;
    float: left;
    display: block;
}

.vcQuote {
    text-transform: capitalize;
    text-align: center;
    font-size: 13px;
    color: #011c38;
    margin: 10px 0px 10px 0px;
    font-family: "EB Garamond", serif;
    font-style: italic;
}

.vcMessage {
    padding: 10px;
    margin-top: 10px;
    color: black;
}

.vcMessage a {
    color: black;
    display: block;
    text-align: right;
}

.box-1 ul {
    padding-left: 10px;
    padding-right: 10px;
}

.box-1 li {
    padding: 10px;
    border-top: 1px dotted lightgrey;
}

.box-1 li:nth-child(1) {
    border-top: 0px;
}

.box-1 a {
    display: block;
    color: #01366a;
    text-decoration: none;
}

.box-1 a:hover {
    color: #011c38;
}

.links ul {
    max-height: 340px;
    overflow: auto;
}

.links ul::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    background-color: #F5F5F5;
    border-radius: 5px;
}

.links ul::-webkit-scrollbar {
    width: 15px;
    background-color: #F5F5F5;
}

.links ul::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background-color: #032244;
}

.readmore {
    text-align: end;
    margin: 5px 10px 10px 10px;
}

.box-2 {
    color: black;
    border: 1px solid #03224435;
    border-radius: 5px;
    margin: 20px;
    background-color: white;
}

.box-2 ul {
    flex-grow: 1;
    margin-left: 20px;
    flex-basis: 300px;
    color: black;
    flex-shrink: 0px;
    background-color: white;
}

@media(max-width: 1200px) {
    .box-2 ul {
        flex-grow: 1;
        margin-left: 10px;
        flex-basis: 250px;
        color: black;
        flex-shrink: 0px;
        background-color: white;
    }
}

.box-2 ul li {
    padding: 8px;
}

.box-2 ul li a {
    display: block;
    color: #01366a;
    text-transform: uppercase;
}

@media (max-width: 767px) {
    .box-2 .flex-container {
        max-height: 400px;
        overflow: auto;
    }
    .box-2 .flex-container::-webkit-scrollbar-track {
        -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
        background-color: #F5F5F5;
        border-radius: 5px;
    }
    .box-2 .flex-container::-webkit-scrollbar {
        width: 15px;
        background-color: #F5F5F5;
    }
    .box-2 .flex-container::-webkit-scrollbar-thumb {
        border-radius: 10px;
        background-color: #032244;
    }
    .flex-container-main {
        margin: 0 5px;
    }
    .div1 {
        height: 200px;
    }
}


/*# sourceMappingURL=style1.css.map